* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(230, 233, 235);
    font-weight: 800;
}

body {
    background-color: rgb(58, 58, 59);
}

header {
    height: 20vh;
    padding: 3rem;
    text-align: center;
}

main {
    padding: 3rem;
}

section {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

h1 {
    font-size: 3rem;
}

#coin {
    width: 128px;
    height: 128px;
    position: relative;
    transform-style: preserve-3d;
}

#coin div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    backface-visibility: hidden;
}

.heads {
    background-color: rgb(235, 231, 47);
    z-index: 100;
}

.tails {
    background-color: rgb(194, 182, 19);
    transform: rotateY(-180deg);
}

#coin.isHeads {
    animation: flipHeads 3s ease-out forwards;

}

#coin.isTails {
    animation: flipTails 3s ease-out forwards;

}




/* ANIMATION */
@keyframes flipHeads {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(1800deg);
    }
}

@keyframes flipTails {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(1960deg);
    }
}